<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="BenchmarkFrameworkConfig" type="System.Configuration.NameValueSectionHandler" />
    <section name ="SnapperConfig" type="System.Configuration.NameValueSectionHandler" />
    <section name ="BenchmarkConfig" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <BenchmarkFrameworkConfig>
    <add key="numWorkerNodes" value="1" />
    <add key="numConnToClusterPerWorkerNode" value="1" />
    <add key="numThreadsPerWorkerNode" value="1" />
    <add key="epochDurationMSecs" value="8000" />
    <add key="numEpochs" value="6" />
    <add key="numWarmupEpoch" value="2" />
    <add key="asyncMsgLengthPerThread" value="64" />
    <add key="percentilesToCalculate" value="25,50,75,90,99" />
  </BenchmarkFrameworkConfig>
  <SnapperConfig>
    <add key="nonDetCCType" value="TIMESTAMP" />
    <add key="maxNonDetWaitingLatencyInMSecs" value="10" />
    <add key="batchIntervalMSecs" value="10" />
    <add key="idleIntervalTillBackOffSecs" value="120" />
    <add key="backoffIntervalMsecs" value="10000" />
    <add key="numCoordinators" value="8"/>
    <add key="dataFormat" value="MSGPACK"/>
    <add key="logStorage" value="NOSTORAGE"/>
  </SnapperConfig>
  <BenchmarkConfig>
    <add key="benchmark" value="TPCC" />
    <add key="distribution" value="HOTRECORD" />
    <add key="zipfianConstant" value="1.0" />
    <add key="deterministicTxnPercent" value="100" />
    <add key="mixture" value="0,0,0,0,0" />
    <add key="numAccounts" value="20000" />
    <add key="numAccountsPerGroup" value="2" />
    <add key="numAccountsMultiTransfer" value="4" />
    <add key="numGrainsMultiTransfer" value="4" />
    <add key="grainImplementationType" value="SNAPPER" />
  </BenchmarkConfig>
</configuration>