<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="BenchmarkFrameworkConfig" type="System.Configuration.NameValueSectionHandler" />
    <section name ="BenchmarkConfig" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <BenchmarkFrameworkConfig>
    <add key="numEpoch" value="6" />
    <add key="numWarmupEpoch" value="1" />
    <add key="epochDurationMSecs" value="8000" />
    <add key="numThreadsPerWorkerNode" value="1" />
    <add key="numConnToClusterPerWorkerNode" value="1" />
    <add key="percentilesToCalculate" value="25,50,75,90,99" />
  </BenchmarkFrameworkConfig>
  <BenchmarkConfig>
    <add key="benchmark" value="SMALLBANK" />
    <add key="txnSize" value="4" />
    <add key="actPipeSize" value="64" />
    <add key="pactPipeSize" value="0" />
    <add key="distribution" value="UNIFORM" />
    <add key="txnSkewness" value="0.75" />
    <add key="grainSkewness" value="0.01" />
    <add key="zipfianConstant" value="0.0" />
    <add key="pactPercent" value="0" />
  </BenchmarkConfig>
</configuration>